-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "SkupkaStatus" AS ENUM ('draft', 'on_the_way', 'in_progress', 'accepted', 'paid', 'completed', 'submitted', 'inspected');

-- CreateEnum
CREATE TYPE "MarketplaceLotStatus" AS ENUM ('draft', 'available', 'reserved', 'sold', 'archived');

-- CreateEnum
CREATE TYPE "OrderStatus" AS ENUM ('pending', 'confirmed', 'in_delivery', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "ChatStatus" AS ENUM ('active', 'archived');

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('USER', 'ADMIN', 'MASTER', 'MANAGER');

-- CreateEnum
CREATE TYPE "SenderType" AS ENUM ('user', 'admin');

-- CreateTable
CREATE TABLE "Skupka" (
    "id" TEXT NOT NULL,
    "telegramId" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "modelname" TEXT,
    "imei" TEXT,
    "sn" TEXT,
    "status" "SkupkaStatus" NOT NULL DEFAULT 'draft',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "photoUrls" TEXT[],
    "videoUrls" TEXT[],
    "deviceData" JSONB,
    "aiAnalysis" JSONB,
    "priceRange" JSONB,
    "aiModelUsed" TEXT,
    "analysisConfidence" DOUBLE PRECISION,
    "chatHistory" JSONB,
    "deviceConditions" JSONB,
    "price" DOUBLE PRECISION,
    "finalPrice" DOUBLE PRECISION,
    "priceAgreed" BOOLEAN,
    "damagePercent" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "functionDiscount" DOUBLE PRECISION DEFAULT 0,
    "courier" JSONB,
    "deliveryMethod" TEXT,
    "pickupPoint" TEXT,
    "currentStep" TEXT,
    "inspection" JSONB,
    "inspectionCompleted" BOOLEAN NOT NULL DEFAULT false,
    "statusNote" TEXT,
    "submittedAt" TIMESTAMP(3),
    "priceConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "courierReminderSent" BOOLEAN NOT NULL DEFAULT false,
    "courierUserConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "comment" TEXT,
    "feedback" TEXT,
    "userEvaluation" TEXT,
    "additionalConditions" JSONB,
    "telegramIdConfirmed" BOOLEAN NOT NULL DEFAULT false,
    "userTelegramId" TEXT,
    "assignedMasterId" TEXT,

    CONSTRAINT "Skupka_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Master" (
    "id" TEXT NOT NULL,
    "telegramId" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "name" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pointId" INTEGER,

    CONSTRAINT "Master_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Point" (
    "id" SERIAL NOT NULL,
    "address" TEXT NOT NULL,
    "workingHours" TEXT NOT NULL DEFAULT '10:00 - 22:00',
    "name" TEXT NOT NULL DEFAULT '╨в╨╛╤З╨║╨░ ╨┐╤А╨╕╤С╨╝╨░',

    CONSTRAINT "Point_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeviceInspection" (
    "id" TEXT NOT NULL,
    "skupkaId" TEXT NOT NULL,
    "inspectionToken" TEXT NOT NULL,
    "tokenExpiresAt" TIMESTAMP(3) NOT NULL,
    "testsResults" JSONB NOT NULL,
    "finalPrice" DOUBLE PRECISION,
    "inspectionNotes" TEXT,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "masterUsername" TEXT NOT NULL,

    CONSTRAINT "DeviceInspection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Device" (
    "id" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "variant" TEXT NOT NULL,
    "storage" TEXT NOT NULL,
    "color" TEXT NOT NULL,
    "country" TEXT NOT NULL,
    "simType" TEXT NOT NULL,
    "basePrice" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Device_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MarketPrice" (
    "id" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "url" TEXT,
    "title" TEXT,
    "description" TEXT,
    "location" TEXT,
    "condition" TEXT,
    "sellerType" TEXT,
    "parsedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MarketPrice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MarketplaceLot" (
    "id" TEXT NOT NULL,
    "skupkaId" TEXT,
    "title" TEXT NOT NULL,
    "model" TEXT,
    "storage" TEXT,
    "color" TEXT,
    "condition" TEXT,
    "description" TEXT,
    "price" DOUBLE PRECISION NOT NULL,
    "photos" TEXT[],
    "coverPhoto" TEXT,
    "status" "MarketplaceLotStatus" NOT NULL DEFAULT 'available',
    "sellerId" TEXT NOT NULL,
    "sellerName" TEXT,
    "viewsCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "publishedAt" TIMESTAMP(3),
    "soldAt" TIMESTAMP(3),

    CONSTRAINT "MarketplaceLot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CartItem" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "lotId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "addedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CartItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FavoriteItem" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "lotId" TEXT NOT NULL,
    "addedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FavoriteItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Order" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "deliveryMethod" TEXT NOT NULL,
    "deliveryAddress" TEXT,
    "pickupPointId" INTEGER,
    "deliveryDate" TIMESTAMP(3),
    "deliveryTime" TEXT,
    "status" "OrderStatus" NOT NULL DEFAULT 'pending',
    "totalPrice" DOUBLE PRECISION NOT NULL,
    "confirmedAt" TIMESTAMP(3),
    "inDeliveryAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "courierName" TEXT,
    "courierPhone" TEXT,
    "trackingNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "lotId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperatorChat" (
    "id" TEXT NOT NULL,
    "userTelegramId" TEXT NOT NULL,
    "userNickname" TEXT,
    "status" "ChatStatus" NOT NULL DEFAULT 'active',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OperatorChat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperatorMessage" (
    "id" TEXT NOT NULL,
    "chatId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "senderType" "SenderType" NOT NULL,
    "text" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OperatorMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "auth_requests" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "status" TEXT NOT NULL DEFAULT 'pending',
    "telegram_id" TEXT,
    "telegram_username" TEXT,
    "telegram_data" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "auth_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "telegramId" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'USER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuickLead" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "productId" TEXT,
    "productTitle" TEXT,
    "price" DOUBLE PRECISION,
    "telegramId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'new',
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "QuickLead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TradeInEvaluation" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "category" TEXT NOT NULL DEFAULT 'iPhone',
    "model" TEXT NOT NULL,
    "variant" TEXT,
    "storage" TEXT NOT NULL,
    "color" TEXT NOT NULL,
    "isOriginal" BOOLEAN NOT NULL DEFAULT true,
    "isReset" BOOLEAN NOT NULL DEFAULT true,
    "screenCondition" TEXT NOT NULL,
    "bodyCondition" TEXT NOT NULL,
    "isRostest" BOOLEAN NOT NULL DEFAULT true,
    "batteryHealth" TEXT NOT NULL,
    "hasFullSet" BOOLEAN NOT NULL DEFAULT true,
    "wasRepaired" BOOLEAN NOT NULL DEFAULT false,
    "hasReceipt" BOOLEAN NOT NULL DEFAULT false,
    "isFunctional" BOOLEAN NOT NULL DEFAULT true,
    "isBatterySafe" BOOLEAN NOT NULL DEFAULT true,
    "isHardwareOk" BOOLEAN NOT NULL DEFAULT true,
    "isClean" BOOLEAN NOT NULL DEFAULT true,
    "calculatedPrice" DOUBLE PRECISION NOT NULL,
    "minPrice" DOUBLE PRECISION,
    "maxPrice" DOUBLE PRECISION,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TradeInEvaluation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PushSubscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "endpoint" TEXT NOT NULL,
    "p256dh" TEXT NOT NULL,
    "auth" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PushSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BotAccess" (
    "id" TEXT NOT NULL,
    "telegramId" TEXT NOT NULL,
    "isAuthenticated" BOOLEAN NOT NULL DEFAULT false,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "blockedUntil" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BotAccess_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Master_telegramId_key" ON "Master"("telegramId");

-- CreateIndex
CREATE UNIQUE INDEX "Master_username_key" ON "Master"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Point_address_key" ON "Point"("address");

-- CreateIndex
CREATE INDEX "DeviceInspection_skupkaId_idx" ON "DeviceInspection"("skupkaId");

-- CreateIndex
CREATE INDEX "DeviceInspection_masterUsername_idx" ON "DeviceInspection"("masterUsername");

-- CreateIndex
CREATE INDEX "DeviceInspection_inspectionToken_idx" ON "DeviceInspection"("inspectionToken");

-- CreateIndex
CREATE INDEX "Device_model_idx" ON "Device"("model");

-- CreateIndex
CREATE INDEX "Device_model_variant_idx" ON "Device"("model", "variant");

-- CreateIndex
CREATE INDEX "Device_model_variant_storage_idx" ON "Device"("model", "variant", "storage");

-- CreateIndex
CREATE INDEX "Device_model_variant_storage_color_idx" ON "Device"("model", "variant", "storage", "color");

-- CreateIndex
CREATE INDEX "Device_country_idx" ON "Device"("country");

-- CreateIndex
CREATE INDEX "Device_simType_idx" ON "Device"("simType");

-- CreateIndex
CREATE INDEX "Device_basePrice_idx" ON "Device"("basePrice");

-- CreateIndex
CREATE INDEX "MarketPrice_deviceId_idx" ON "MarketPrice"("deviceId");

-- CreateIndex
CREATE INDEX "MarketPrice_source_idx" ON "MarketPrice"("source");

-- CreateIndex
CREATE INDEX "MarketPrice_parsedAt_idx" ON "MarketPrice"("parsedAt");

-- CreateIndex
CREATE INDEX "MarketPrice_price_idx" ON "MarketPrice"("price");

-- CreateIndex
CREATE INDEX "MarketPrice_source_deviceId_idx" ON "MarketPrice"("source", "deviceId");

-- CreateIndex
CREATE UNIQUE INDEX "MarketplaceLot_skupkaId_key" ON "MarketplaceLot"("skupkaId");

-- CreateIndex
CREATE INDEX "MarketplaceLot_sellerId_idx" ON "MarketplaceLot"("sellerId");

-- CreateIndex
CREATE INDEX "MarketplaceLot_status_idx" ON "MarketplaceLot"("status");

-- CreateIndex
CREATE INDEX "MarketplaceLot_createdAt_idx" ON "MarketplaceLot"("createdAt");

-- CreateIndex
CREATE INDEX "MarketplaceLot_price_idx" ON "MarketplaceLot"("price");

-- CreateIndex
CREATE INDEX "CartItem_userId_idx" ON "CartItem"("userId");

-- CreateIndex
CREATE INDEX "CartItem_lotId_idx" ON "CartItem"("lotId");

-- CreateIndex
CREATE UNIQUE INDEX "CartItem_userId_lotId_key" ON "CartItem"("userId", "lotId");

-- CreateIndex
CREATE INDEX "FavoriteItem_userId_idx" ON "FavoriteItem"("userId");

-- CreateIndex
CREATE INDEX "FavoriteItem_lotId_idx" ON "FavoriteItem"("lotId");

-- CreateIndex
CREATE UNIQUE INDEX "FavoriteItem_userId_lotId_key" ON "FavoriteItem"("userId", "lotId");

-- CreateIndex
CREATE INDEX "Order_userId_idx" ON "Order"("userId");

-- CreateIndex
CREATE INDEX "Order_status_idx" ON "Order"("status");

-- CreateIndex
CREATE INDEX "Order_createdAt_idx" ON "Order"("createdAt");

-- CreateIndex
CREATE INDEX "Order_status_createdAt_idx" ON "Order"("status", "createdAt");

-- CreateIndex
CREATE INDEX "OrderItem_orderId_idx" ON "OrderItem"("orderId");

-- CreateIndex
CREATE INDEX "OrderItem_lotId_idx" ON "OrderItem"("lotId");

-- CreateIndex
CREATE UNIQUE INDEX "OperatorChat_userTelegramId_key" ON "OperatorChat"("userTelegramId");

-- CreateIndex
CREATE INDEX "OperatorChat_userTelegramId_idx" ON "OperatorChat"("userTelegramId");

-- CreateIndex
CREATE INDEX "OperatorChat_status_idx" ON "OperatorChat"("status");

-- CreateIndex
CREATE INDEX "OperatorMessage_chatId_idx" ON "OperatorMessage"("chatId");

-- CreateIndex
CREATE UNIQUE INDEX "User_telegramId_key" ON "User"("telegramId");

-- CreateIndex
CREATE INDEX "User_telegramId_idx" ON "User"("telegramId");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE INDEX "TradeInEvaluation_userId_idx" ON "TradeInEvaluation"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "PushSubscription_endpoint_key" ON "PushSubscription"("endpoint");

-- CreateIndex
CREATE INDEX "PushSubscription_userId_idx" ON "PushSubscription"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "BotAccess_telegramId_key" ON "BotAccess"("telegramId");

-- AddForeignKey
ALTER TABLE "Skupka" ADD CONSTRAINT "Skupka_assignedMasterId_fkey" FOREIGN KEY ("assignedMasterId") REFERENCES "Master"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Master" ADD CONSTRAINT "Master_pointId_fkey" FOREIGN KEY ("pointId") REFERENCES "Point"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceInspection" ADD CONSTRAINT "DeviceInspection_masterUsername_fkey" FOREIGN KEY ("masterUsername") REFERENCES "Master"("username") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceInspection" ADD CONSTRAINT "DeviceInspection_skupkaId_fkey" FOREIGN KEY ("skupkaId") REFERENCES "Skupka"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketPrice" ADD CONSTRAINT "MarketPrice_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "Device"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MarketplaceLot" ADD CONSTRAINT "MarketplaceLot_skupkaId_fkey" FOREIGN KEY ("skupkaId") REFERENCES "Skupka"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CartItem" ADD CONSTRAINT "CartItem_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "MarketplaceLot"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FavoriteItem" ADD CONSTRAINT "FavoriteItem_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "MarketplaceLot"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Order" ADD CONSTRAINT "Order_pickupPointId_fkey" FOREIGN KEY ("pickupPointId") REFERENCES "Point"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrderItem" ADD CONSTRAINT "OrderItem_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "MarketplaceLot"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OperatorMessage" ADD CONSTRAINT "OperatorMessage_chatId_fkey" FOREIGN KEY ("chatId") REFERENCES "OperatorChat"("id") ON DELETE CASCADE ON UPDATE CASCADE;

